######################
NEEDED LIBS:
######################
falcon                  # Core Web API
falcon-auth             # Falcon user authentication middleware
falcon-autocrud         # Falcon CRUD DB interaction handler using SQLAlchemy
falcon-require-https    # Falcon HTTPS validator
pems                    # Importing PEM certificates
requests                # Unit Testing request simulation
sqlalchemy              # DB ORM handler.

######################
REQUIRED ACTIONS
######################

falcon_autocrud is broken, requires an edit to middleware.py, change:
    process_response(req, resp, resource)
to:
    process_response(req, resp, resource, req_succeeded)