######################
NEEDED LIBS:
######################
bcrypt                  # Password hashing, salting and checking.
falcon                  # Core Web API
falcon-auth             # Falcon user authentication middleware
falcon-autocrud         # Falcon CRUD DB interaction handler using SQLAlchemy
falcon-require-https    # Falcon HTTPS validator
pem                     # Importing PEM certificates
pillow                  # Python Image Handler.
pymysql                 # Python MySQL compiler.
requests                # Unit Testing request simulation
sqlalchemy              # DB ORM handler.
waitress                # Testing host service.



######################
REQUIRED ACTIONS
######################

falcon_autocrud is broken, requires an edit to middleware.py, change:
    process_response(self, req, resp, resource)
to:
    process_response(self, req, resp, resource, req_succeeded)
